<h1>Add a new task</h1>


<!-- display the form that is in the partial file in View-->
<%= render "form_partial" %>

<br>
<!-- todos_path or root_path is the path to the Index. It's defined
  by the routes.rb resources and can be checked by typing rake routes in the terminal-->

<%= link_to 'Back', root_path %>

